

<div ng-controller="homeController as homeControllerVM">


    <div class="BGImg pImg1">
        <div class="pTopTitle">
            Hand Crafted <h1>Dairy Free</h1>
            <a href="#" class="pBtnMnu"> Menu</a>
        </div>
    </div>
    <div class="section row darkBG " >
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="Title">Our Flavors<i>Ice cream by the sea!</i></div>
            <span class="Text">
                I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.
            </span>
            <a href="#" class="btnMore">Read More!</a>         
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="BGImg pImg2">
        
        <div class="pTopTitle">
                <div class="pBorder">
                    Catering & More<h1> Events</h1>
                    <a href="#" class="pBtnMnu"> Menu</a>
                </div>
        </div>
    </div>

    <div class="section row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="Title">Our Place<i>Ice cream by the sea!</i></div>
            <span class="Text">
                I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.
            </span>
            <a href="#" class="btnMore">Read More!</a>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="BGImg pImg3">
        <div class="pTopTitle">
            Catering & More<h1>Events</h1>
            <a href="#" class="pBtnMnu"> Menu</a>
        </div>
    </div>

</div>






